@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background: linear-gradient(180deg, #322d3d, #1e1828);
  color: #ddd8e4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
